# Database URL (will be provided by Railway)
DATABASE_URL="postgresql://postgres:ZBEYvHSxfkCzDUbMFQMtwdtWqizzfdJg@hopper.proxy.rlwy.net:58776/railway"

# JWT Secret
JWT_SECRET="my_super_secret_key_123"

# Port
PORT=8080

# CORS Origin (your frontend URL)
CORS_ORIGIN="https://logisticstrack.netlify.app/" 